/****** General!!!!! ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

footer {
    background-color: #F2F2F2;
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 15px;
   padding: 20px;
}

@media (width < 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

ul li {
    font-weight: 400;
    list-style-type: none;
    line-height: 30px;
    font-size: 16px;
}
ul li:first-child {
    font-weight: 700;
    line-height: 30px;
    font-size: 18px;

}

ul li a {
    text-decoration: none;
    color: black; 
}

ul li a:hover {
    color: #0065FC;
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav-link {
    text-decoration: none;
    color: black; 
    box-shadow: 0 -2px 0 transparent;
    transition: box-shadow 0.3s ease;
    line-height: 1.5;
}
.nav-link:hover {
    color: #0065FC; 
    box-shadow: 0 -2px 0; /* this one seemed the best to give the look i wanted + the line height creates an illustion of more space btw the line and text */
    /* text-decoration: overline; i wanted to use this bc its so simple but the gap between the line and the text doesnt seem to be adjustable
    border-top: solid; this one moves the text tho and idk how to fix it*/
}

.logo img{
    width: 61.09px;
    height: auto;
    margin: 20px;

}

.menu {
    align-self: center;
    justify-self: right;
    display: flex;
    gap: 100px;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
}
